<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!--配置一个servlet程序-->
    <servlet>
        <!--内部名称-->
        <servlet-name>hello</servlet-name>
        <!--包名+简单类型-->
        <servlet-class>helloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <!--内部名称和上面名称保持一致-->
        <servlet-name>hello</servlet-name>
        <!--访问名称:/名称-->
        <url-pattern>/first</url-pattern>
    </servlet-mapping>

</web-app>